
{% extends 'admin/master.html' %}
{% block body %}
<div class="row">
      <div class="col-md-12">
          <p class="txtcenter tbleuLR txt18">{{ gettext("Le code que nous venons de vous transmettre a une validité de {ttl} minutes.").format(ttl=ttl) }}</p><br>
      </div>
      <div class="col-md-3">
      </div>
      <div class="col-md-6">
            <div class="panel panel-success">
                  <div class="panel-heading">
			  <h3 class="panel-title"><span class="glyphicon
                                  glyphicon-user" aria-hidden="true"></span> {{ gettext("Code de vérification") }}</h3>
                  </div>
                  <div class="panel-body">
			  <p>{{ gettext("Saisissez le code que vous venez de recevoir")}} </p>
                        <form class="" role="form" name="" action="." method="POST">
				<input type="text" class="form-control margB10"
                                placeholder="{{ gettext("code de vérificaiton") }}" autofocus name="code" id="code">
                              <button class="btn btn-success btn-block" type="submit">
				      <span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{gettext("Valider")}}
                              </button>
                        </form>
                  </div>
             </div>
      </div>
      <div class="col-md-3">
      </div>
</div>
{% endblock %}
