
{% extends 'login/welcomepatient.html' %}
{% block result_access %}
        <div class="row"> 
	  <div class="col-md-12 col-sm-12">
	    <div class="panel panel-success norad">
	      <div class="panel-heading norad txtmajus txt20 pad10">
		<span class="flaticon-folder240 txt30"></span> Accès à mes documents
	      </div>
	      <div class="panel-body norad">
		<a type="button" class="btn btn-info btn-block txt18" href="/mesdossiers/">
		    <span class=" flaticon-drawer4"></span> Liste des documents disponibles
		</a>
	      </div>
	    </div>  
          </div>
	</div>  
{% endblock %}
