{% extends 'admin/master.html' %}
{% block body %}
<h1>{{current_user.name}}, bienvenue sur votre espace personnel</h1>
<div class="col-md-6 col-sm-6">
  <h3 class="title">Documents de votre groupe<i class="flaticon-folder240 bigic"></i></h3>
  <a href="/nosdossiers/">
    <button type="button" class="btn btn-link">
      <h4><i class="fa fa-arrow-right title-icon"></i>Liste des documents disponibles<span class="menuic flaticon-drawer4"></span></h4>
    </button>
  </a>
  <h3 class="title">Installer l'application LabMobile<i class="flaticon-responsive2 bigic"></i></h3>
  <p>Vous pouvez également accéder à vos résultats via notre application mobile disponible sur android  et sur iOS et bénéficier de fonctionnalités supplémentaires :</p>
    <button type="button" class="btn btn-default">
      LabMobile pour Android<i class="flaticon-android2"></i>
    </button>
    <button type="button" class="btn btn-default">
      LabMobile pour iOS<i class="flaticon-apple19"></i>
    </button>
</div>
<div class="col-md-6 col-sm-6">
  {% if current_user.members %}
  <h3 class="title">Membres de votre groupe<i class="flaticon-multiple25 bigic"></i></h3>
  <ul>
  {% for member in current_user.members %}
    <li> {{member.name}}
  {% endfor %}
  </ul>
  <p>Si une personne vient à quitter le groupe, merci de contacter le laboratoire afin que le groupe soit mis à jour.</p>
 {% else %}
  <h3 class="title">Information<i class="flaticon-multiple25 bigic"></i></h3>
  <p> Votre groupe n'est constitué d'aucun utilisateur individuel. Vous avez également la possibilité de constituer un groupe d'utilisateurs ayant chacun ses propres identifiants. Ce mode de fonctionnement permet de gérer plus finement les accès aux documents du groupe, par exemple en désactivant l'accès aux personnes ne faisant plus parties du groupe. Pour plus de renseignement, veuillez contacter votre laboratoire.</p>
  {% endif %}
</div>
{% endblock %}
