<div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="close()">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Logs</h4>
          </div>
          <div class="modal-body">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
              <li class="active"><a href="#erreur" data-toggle="tab">Erreur</a></li>
              <li><a href="#traceback" data-toggle="tab">Détail Technique</a></li>
            </ul>
    
            <!-- Tab panes -->
            <div class="tab-content">
              <div class="tab-pane active" id="erreur" ng-show="doc">
		      <h4><small>Erreur reportée lors du traitement du fichier:</small></h4>
                      <pre>{{ doc.log }}</pre>
		    <hr>
		    <a href="{{ doc.raw_url }}" target="_blank">
		    <span class="glyphicon glyphicon-download"></span> Télécharger le fichier</a>

              </div>
              <div class="tab-pane" id="traceback">
                  <div data-ng-bind-html="doc.traceback"></div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="close()">Fermer</button>
          </div>

